<div class="container">
  @if (review) {
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-stepper
        #stepper
        headerPosition="bottom"
        [(selectedIndex)]="currentStepIndex"
        formArrayName="formArray"
        labelPosition="bottom"
        linear>
        @for (reviewItem of review.reviewItems; track $index) {
          @if (getFormControl($index); as formControl) {
            <mat-step class="step"
              [formGroupName]="$index"
              [stepControl]="formControl"
              [editable]="false">
              <mat-card>
                <mat-card-content>
                  @switch (reviewItem.type) {
                    @case (ReviewItemType.Pinyin) {
                      <p class="character">
                        {{reviewItem.flashcard.simplified}}
                      </p>
                      {{reviewItem.flashcard.english}}                  
                    }
                    @case (ReviewItemType.Meaning) {
                      <p class="character">
                        {{reviewItem.flashcard.simplified}}
                      </p>
                      {{reviewItem.flashcard.pinyin}}    
                    }
                    @case (ReviewItemType.Character) {
                      {{reviewItem.flashcard.english}}    
                    }
                  }
                </mat-card-content>
              </mat-card>
              <div class="input-box">
                @switch (reviewItem.type) {
                  @case (ReviewItemType.Pinyin) {
                    <mat-form-field class="input-field">
                      <mat-label>Pinyin</mat-label>
                      <input matInput
                        [formControl]="formControl"
                        [readonly]="reviewItem.status != ReviewItemStatus.Pending"
                        [errorStateMatcher]="customErrorStateMatcher">
                    </mat-form-field>
                  }
                  @case (ReviewItemType.Meaning) {
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked"
                      [formControl]="formControl"
                      (ngModelChange)="onSubmit()">
                      @for (option of reviewItem.options; track option) {
                        <mat-chip-option
                          [value]="option.simplified"
                          [disabled]="reviewItem.status != ReviewItemStatus.Pending">
                          {{option.english}}
                        </mat-chip-option>
                      }
                    </mat-chip-listbox>
                  }
                  @case (ReviewItemType.Character) {
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked"
                      [formControl]="formControl"
                      (ngModelChange)="onSubmit()">
                      @for (option of reviewItem.options; track option) {
                        <mat-chip-option
                          [value]="option.simplified"
                          [disabled]="reviewItem.status != ReviewItemStatus.Pending">
                          {{option.simplified}} {{option.pinyin}}
                        </mat-chip-option>
                      }
                    </mat-chip-listbox>
                  }
                }
                @if (formControl.pristine) {
                  @switch (formControl.getError('status')) {
                    @case (ReviewItemStatus.Correct) {
                      <mat-hint>
                        The answer is correct
                      </mat-hint>
                    }
                    @case (ReviewItemStatus.PartiallyCorrect) {
                      <mat-error>
                        Almost, the correct answer is: {{formControl.getError('suggestions')}}
                      </mat-error>
                    }
                    @case (ReviewItemStatus.Wrong) {
                      <mat-error>
                        Wrong, the correct answer is: {{formControl.getError('suggestions')}}
                      </mat-error>
                    }
                  }
                }
              </div>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </mat-step>
          }
        }
        <mat-step class="step"
          [editable]="false">
          <p>Done.</p>
        </mat-step>
      </mat-stepper>
    </form>
  }
</div>
